<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <Exclude>
            [UnitTest]*,[IntegrationTest]*,[SecurityTest]*,[xunit.*]*,
            [WebAPIDevSecOps.Models]*,[WebAPIDevSecOps.Dto]*,[WebAPIDevSecOps.Migrations]*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
