sonar.projectKey=WebAPIDevSecOps
sonar.projectName=WebAPIDevSecOps

sonar.language=cs
sonar.sourceEncoding=UTF-8
sonar.host.url=https://sonarcloud.io

sonar.cs.opencover.reportsPaths=coverage/*/coverage.opencover.xml
sonar.coverage.exclusions=**/Migrations/**,**/Models/**,**/Dto/**,**/Program.cs
sonar.exclusions=**/Migrations/**,**/Models/**,**/Dto/**,**/Program.cs

sonar.cs.analyzer.projectOutPaths=.sonarqube/out

sonar.new.coverage.requirement=80
sonar.coverage.acceptance.requirement=75
